# dependencies
node_modules/
.pnpm-store/

# build outputs
dist/
.next/
out/
build/
.turbo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# os
.DS_Store
Thumbs.db

# prisma
packages/db/generated/

# uploads locais (dev) — trocar por object storage em produção
apps/api/uploads/

# test coverage
coverage/
